@model IEnumerable<StarLogger.Models.Game>
@using StarLogger.Helpers

@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>
<p><a class="btn btn-primary" asp-area="" asp-controller="Game" asp-action="Create">Add New Game</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            var slug = SlugHelper.ToSlug(game.Title);
            <tr>
                <td>@game.Title</td>
                <td>@game.Platform</td>
                <td>@game.ReleaseDate.ToShortDateString()</td>
                <td>@game.Genre</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@game.GameId" asp-route-slug="@slug">Details</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@game.GameId" asp-route-slug="@slug">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@game.GameId" asp-route-slug="@slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>Hi Mr. G, here is the link to the multi-view model. I will eventually incorporate both under one page.</p>
<a asp-area="" asp-controller="Game" asp-action="WithAchievements" class="btn btn-info">
    View Games with Achievements
</a>

