@model IEnumerable<StarLogger.Models.Game>
@{
    ViewData["Title"] = "Profile";
}
<h2>Games</h2>
<p><a class="btn btn-primary" href="@Url.Action("Create")">Add New Game</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Platform</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => game.Title)</td>
                <td>@Html.DisplayFor(m => game.Platform)</td>
                <td>@game.ReleaseDate.ToShortDateString()</td>
                <td>@Html.DisplayFor(m => game.Genre)</td>
                <td>
                    <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = game.GameId })">Details</a>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = game.GameId })">Edit</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = game.GameId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
